body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: cornflowerblue;
  }

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  /* removes bullet points */
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover{
  color: pink;
  text-decoration: none;
}
  
  
img {
    width: 25em;
    height: auto;
}

footer {
  height: 40px;
  background-color: rgb(36, 60, 101);
  margin-top: 1em;
}

#footerText {
  color: white;
}

.editDeleteButtons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10px;
}